.tweet {
  margin: 2em 0;
  overflow: hidden;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
}
.tweet .headerbox {
  background-color: #eee;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.tweet .text {
  padding: 30px 15px;
  font-size: 2em;
}
.tweet .footerbox {
  border-top: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.tweet .avatar {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.tweet .username {
  margin: 0 0 0 10px;
}
.tweet .userhandle {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  color: gray;
}
.tweet .userInfo {
  display: flex;
}