nav {
  font-size: 200%;
  height: 100px;
  background-color: #00a087 ;
  color: #e8fdff ;
  display: flex;
  align-items: center;
 
 }
 #nav-bar .logo {
  float: left;
  margin-left: 30px;
  display: flex;
  height:80px;
  width:80px;
  background-color: #00a087 ;
 
 }
 #nav-bar .header {
   background-color: #00a087 ;
   color: #e8fdff ;
   height: 100%;
   left: 10px;
   line-height: 400%
 }
 #nav-bar #compose-button {
   text-justify: right;
   position: relative;
   width: 160px;
   height: 75px;

   margin-left: auto;
 }