#nav-bar {
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: turquoise;
  padding: 0 2em;
  display: flex;
  z-index: 1;
}
.logo {
  width: 60px;
  height: 60px;
}
.branding {
  display: flex;
  align-items: center;
  font-size: 2em;
}
#compose-button {
  margin: 10px 0;
}