nav {
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1em;
}
.logo {
  width: 80x;
  height: 80px;
  padding-right: 10px;
}
